<!DOCTYPE html>
<html>

<body>


  <h2>Photo-Gallery@EventHUB</h2>

  <div class="polaroid">
    <img src="../../assets/img/Background.jpeg" alt="5 Terre" style="width:100%">
    <div class="container">
      <p>Background-View</p>
    </div>
  </div>
  <div class="polaroid">
    <img src="../../assets/img/green.jpeg" alt="5 Terre" style="width:100%">
    <div class="container">
      <p>Mountain-View</p>
    </div>
  </div>
  <div class="polaroid">
    <img src="../../assets/img/fall.jpeg" alt="5 Terre" style="width:100%">
    <div class="container">
      <p>Water-Fall</p>
    </div>
  </div>
    <div class="polaroid">
      <img src="../../assets/img/car.jpg" alt="5 Terre" style="width:100%">
      <div class="container">
        <p>Car</p>
      </div>
    </div>
    <div class="polaroid">
      <img src="../../assets/img/montain.jpeg" alt="5 Terre" style="width:100%">
      <div class="container">
        <p>FOGGG-View</p>
      </div>
    </div>
    <div class="polaroid">
      <img src="../../assets/img/valley.jpeg" alt="5 Terre" style="width:100%">
      <div class="container">
        <p>Valley-View</p>
      </div>
    </div>
    <div class="polaroid">
      <img src="../../assets/img/water.jpeg" alt="5 Terre" style="width:100%">
      <div class="container">
        <p>Water-Valley</p>
      </div>
    </div>
    <div class="polaroid">
      <img src="../../assets/img/god.jpeg" alt="5 Terre" style="width:100%">
      <div class="container">
        <p>God</p>
      </div>
   
    </div>
    <p>Hope! you love it. Have a good day!</p>
    <!-- // Photos by Array -->

      <!-- <div class="polaroid">
        <div *ngFor="let photo of photoArray" class="card-body">
          <img [src]="photo.imageUrl" alt="photo">
          <div class="container">
            <p>{{photo.title}}</p>
            <p>{{photo.description}}</p>
          </div>
        </div>
      </div> -->

</body>

</html>