<div class="polaroid">

<div class="row p-2">
  <div class="col-md-4 mb-3" *ngFor="let contact of contacts">
    <div class="card text-center">
      <div class="card-body">
        <p class="card-title">{{contact.email}}</p>
        <p class="card-text">{{contact.Address}}</p>
        <p class="card-text">{{contact.Mobile}}</p>
       
      </div>
    </div>
  </div>
</div> 
</div>
<!-- <p>Email: eventHub@gmail.com</p>
<P>Mobile: (+91)9509918167</P>
<P> Address: #2643, Silk Board, Banglore</P> -->